


@font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//damaidesigns.com/cdn/fonts/assistant/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2") format("woff2"),
       url("//damaidesigns.com/cdn/fonts/assistant/assistant_n4.6e9875ce64e0fefcd3f4446b7ec9036b3ddd2985.woff") format("woff");
}


@font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//damaidesigns.com/cdn/fonts/assistant/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2") format("woff2"),
       url("//damaidesigns.com/cdn/fonts/assistant/assistant_n4.6e9875ce64e0fefcd3f4446b7ec9036b3ddd2985.woff") format("woff");
}



  @font-face {
  font-family: Assistant;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//damaidesigns.com/cdn/fonts/assistant/assistant_n5.26caedc0c0f332f957d0fb6b24adee050844cce5.woff2") format("woff2"),
       url("//damaidesigns.com/cdn/fonts/assistant/assistant_n5.d09f0488bf8aadd48534c94ac3f185fbc9ddb168.woff") format("woff");
}




  @font-face {
  font-family: Assistant;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//damaidesigns.com/cdn/fonts/assistant/assistant_n5.26caedc0c0f332f957d0fb6b24adee050844cce5.woff2") format("woff2"),
       url("//damaidesigns.com/cdn/fonts/assistant/assistant_n5.d09f0488bf8aadd48534c94ac3f185fbc9ddb168.woff") format("woff");
}




  






  


  

